.hero_container {
  display: flex;
  height: 16rem;
  .header_image {
    height: 16rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 0% 20%;
    background-size: cover;
  }
}

/** material toggle **/
.materials_toggle {
  display: flex;
  justify-content: center;
  transition: 0.3s ease-out;
  padding: 2rem 0;
  .materials_toggle_button {
    width: 12rem;
    height: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.materials {
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.show.materials {
  display: block;
  padding-top: 2rem;
  transition: max-height 0.3s ease-out;
}

/** materials **/
.material_container {
  text-align: center;
  .material_list {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    .material {
      display: flex;
      justify-content: center;
      .image {
        width: 3rem;
        margin: 0 auto;
      }
      .input_container {
        display: flex;
        flex-flow: row;
        align-items: center;
        margin: 0 auto;
        width: max-content;
        input {
          width: 35px;
          border: none;
          margin-right: 0.5rem;
          background-color: rgba(0, 0, 0, 0.1);
          &:focus {
            outline: none;
          }
        }
        img {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
}
