*,
*::before,
*::after {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  max-width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

figure {
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
li[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  color: #1d1d1d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #1d1d1d;
}

h1 {
  font-size: 4rem;
}

:root {
  --bg-main: 255, 255, 255;
  --bg-secondary: 229, 229, 229;
  --primary-clr: 252, 163, 17;
  --table-border: 0, 0, 0;
  --table-border-width: 1px;
  --table-border-opacity: 1;
}

body {
  background-color: rgba(var(--bg-main));
  transition: 300ms ease-out;
}

.page_wrapper {
  background-color: rgba(var(--bg-secondary));
  width: 90vw;
  margin: 0 auto;
}

.footer {
  background-color: rgba(var(--bg-secondary), 0.5);
  text-align: center;
  width: 90vw;
  margin: 0 auto;
}

.hero_container {
  display: flex;
  height: 16rem;
}
.hero_container .header_image {
  height: 16rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 0% 20%;
  background-size: cover;
}

/** material toggle **/
.materials_toggle {
  display: flex;
  justify-content: center;
  transition: 0.3s ease-out;
  padding: 2rem 0;
}
.materials_toggle .materials_toggle_button {
  width: 12rem;
  height: 3rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.materials {
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.show.materials {
  display: block;
  padding-top: 2rem;
  transition: max-height 0.3s ease-out;
}

/** materials **/
.material_container {
  text-align: center;
}
.material_container .material_list {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
.material_container .material_list .material {
  display: flex;
  justify-content: center;
}
.material_container .material_list .material .image {
  width: 3rem;
  margin: 0 auto;
}
.material_container .material_list .material .input_container {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.material_container .material_list .material .input_container input {
  width: 35px;
  border: none;
  margin-right: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}
.material_container .material_list .material .input_container input:focus {
  outline: none;
}
.material_container .material_list .material .input_container img {
  width: 1.5rem;
  height: 1.5rem;
}

#crafting_cost_table tr th {
  border-right: var(--table-border-width) solid rgba(var(--table-border), var(--table-border-opacity));
  border-bottom: var(--table-border-width) solid rgba(var(--table-border), var(--table-border-opacity));
  padding-bottom: 1rem;
}
#crafting_cost_table .map_names {
  border-bottom: var(--table-border-width) solid rgba(var(--table-border), var(--table-border-opacity));
}
#crafting_cost_table .map_names span {
  display: flex;
  flex-flow: row;
}
#crafting_cost_table .material_count {
  display: flex;
  flex-flow: column;
  border-left: var(--table-border-width) solid rgba(var(--table-border), var(--table-border-opacity));
  border-bottom: var(--table-border-width) solid rgba(var(--table-border), var(--table-border-opacity));
  padding-bottom: 1rem;
}
#crafting_cost_table .material_count {
  display: inline-flex;
}
#crafting_cost_table .material_count span {
  display: flex;
  flex-flow: row;
}
#crafting_cost_table img {
  width: 1.5rem;
  margin-right: 0.5rem;
}/*# sourceMappingURL=index.css.map */